<div class="user-container">
  <div class="card user-card">
    <div class="card-body">
      <h5 class="card-title text-center">User Details</h5>

      <div *ngIf="!isEditing; else editForm">
        <p><strong>Email:</strong> {{ userDetails?.email }}</p>
        <p><strong>First Name:</strong> {{ userDetails?.first_name }}</p>
        <p><strong>Last Name:</strong> {{ userDetails?.last_name }}</p>
        <p><strong>Role:</strong> {{ userDetails?.role }}</p>
        <p><strong>Status:</strong> {{ userDetails?.status }}</p>

        <div class="text-center">
          <button class="btn btn-primary btn-sm mt-2" (click)="editUser()">Edit</button>
        </div>
      </div>

      <ng-template #editForm>
        <form [formGroup]="userForm" (ngSubmit)="submitUser()" class="user-form">
          <label>Email:</label>
          <input type="email" class="form-control mb-2" formControlName="email" />

          <label>First Name:</label>
          <input type="text" class="form-control mb-2" formControlName="first_name" />

          <label>Last Name:</label>
          <input type="text" class="form-control mb-2" formControlName="last_name" />

          <label>Role:</label>
          <input type="text" class="form-control mb-2" formControlName="role" />

          <label>Status:</label>
          <select class="form-control mb-3" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>

          <div class="button-group">
            <button class="btn btn-success btn-sm" type="submit">Save</button>
            <button class="btn btn-secondary btn-sm ml-2" type="button" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
